{% extends 'base.html' %}

{% block title %}Fotos{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Hotel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('fotos')}}">Fotos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contacto') }}">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tu cuenta
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('nuevareserva') }}">Nueva Reserva</a></li>
              <li><a class="dropdown-item" href="{{ url_for('reservations')}}">Tus Reservas</a></li>
              <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='img/h2.png') }}" class="d-block w-100" alt="..." width="400" height="400">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/h1.png') }}" class="d-block w-100" alt="..." width="400" height="400">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/ext.jpeg') }}" class="d-block w-100" alt="..." width="400" height="400">
      </div>
    </div>
    <button class="carousel-control-prev bg-dark" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-dark" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock %}