{% extends 'base.html' %}

{% block title %}Fotos{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Elysium</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('fotos')}}">Fotos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contacto') }}">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tu cuenta
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('nuevareserva') }}">Nueva Reserva</a></li>
              <li><a class="dropdown-item" href="{{ url_for('reservations')}}">Tus Reservas</a></li>
              <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-4">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='img/h2.png') }}" class="d-block w-100" alt="Habitación 2" style="max-height: 400px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Habitación Doble</h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/h1.png') }}" class="d-block w-100" alt="Habitación 1" style="max-height: 400px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Habitación Sencilla</h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='img/ext.jpeg') }}" class="d-block w-100" alt="Exterior del Hotel" style="max-height: 400px;">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Exterior del Hotel</h5>
                    <p></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>
{% endblock %}